@page "/team"

@using KvizCommando.Client.Data;
@using KvizCommando.Client.Components.CharacterComponent
@using KvizCommando.Client.Pages.Team
@using KvizCommando.Client.Pages.Team.Components
@using KvizCommando.Client.Components.Dynamic;
@inherits Utilities.KcComponentBase

<link href="css/team-common.css" rel="stylesheet" />

<LangGuard Culture=@culture Module="team" OnReady="BoxReady">
     @if (_isLoaded == true)
{
       
      <PageContainer>


                <HorizontalTabPane ActiveHIndex="@activeHTab" 
                                   ActiveHIndexChanged="@OnHTabChanged"
                                   TabHEnabled="@tabHEnabled"
                                   ActiveVIndex="@activeVTab"
                                   ActiveVIndexChanged="@OnVTabChanged"
                                   TabTitle="@tabTitle"
                                   HTabs="@hTabs"
                                   VTabs="@vTabs"
                                   PicTabEnabled="@picTabEnable">
                                  

                    <Content1>
                    <CascadingValue Value="@Selected">
                        <UpperBlockDisplay />
                    </CascadingValue>
                    </Content1>
                    <Content2>
                        <BottomBlockDisplay ActionButtonPushed="OnTeamManagerButtonPressed" />
                    </Content2>
                    <Content3>
                        <BottomBlockViaButtons DatatoProc="@_generalInfo"
                                               DataHelp="@_tState.Help"
                                               TabPosH="@activeHTab"
                                               TabPosV="@activeVTab"
                                               ModifySkill="OnSaveButtonPressed" />
                    <label class="message-label" style="@((!isTeamSuccess ? "color:red;" : ""))">
                        @MessageTeam
                    </label>
                    </Content3>
                    <Content4>
                        <RecruitBlockDisplay RecruitData="@_tState.Candidates![activeHTab]"
                                            TabPos="@activeHTab"
                                            candidateOrder="@RecruitMixer"
                                            SelectedCandidate="OnCandidateSelected" />
                    </Content4>

                     <Content5>
                        <CharacterView PicCode="@pictureCode" />
                    </Content5>
                    <ButtonRow>
                    @if (activeVTab == 3)
                    {
                        <button class="military-button" disabled="@(selectedCandidateId == 0)" @onclick="OnHireButtonPressed">@(Ui.Lang["team.Button.Hire"])</button>
                    }
                    </ButtonRow>
                </HorizontalTabPane>
            
     </PageContainer>
    }
</LangGuard>