@using KvizCommando.Client.Services
@using KvizCommando.Client.Pages.Shared;


@inherits Utilities.KcLayoutComponentBase
<HeadContent>
    <link href="css/MainLayout.css" rel="stylesheet" />
</HeadContent>
     <LoaderView />
<KcToast />

@if (_isReady)
{
    <KcModal @ref="_mainModal"
             Id="mainModal"
             Appstates="@_appState"
             OnModalAction="ModalAction">
    </KcModal>
    if (_isLoggedIn)
    {
        <AppHeader DisplayName="@_appState.Home!.UserMainData.UserName"
        lclRow1="@Ui.Lang["mainlayout.Bootstrap.Label.Profile"]"
        lclRow2="@Ui.Lang["mainlayout.Bootstrap.Label.Settings"]"
        lclLogout="@Ui.Lang["mainlayout.Bootstrap.Label.Logout"]"
        OnLogout="Logout" />
    }
    else
    {
        <LanguageSelector />
    }

    <div class="kc-unsupported-screen">
        <ScreenTooSmall />
    </div>

    <div class="kc-mainlayout-root"  style="@(_isLoggedIn  
                  ? "background-image: url('/images/lobby.webp');" 
                  : "background-image: url('/images/login.webp');")">
        

        <LangGuard Culture=@_culture Module="nav">
            <div class="kc-mainlayout-nav-side @(_hasSidebarCollapsed || !_isLoggedIn ? "collapsed" : "")">
                <NavMenu Hs="@Hs"
                         OnToggleSidebar="ToggleSidebar" 
                         IsCollapsed="@(_hasSidebarCollapsed || !_isLoggedIn)" />
            </div>
        </LangGuard>
        <main>
            <section class="kc-mainlayout-content-side">
                @if (_isLoggedIn)
                    {
                        <header class="kc-mainlayout-content-header">
                            <div class="kc-mainlayout-content-header--left-warper">
                                  <div class="kc-collapse-btn @(!_hasSidebarCollapsed ? "" : "collapsed")" @onclick="() => ToggleSidebar()">
                                            <img src="images/logo.webp" alt="Logo" class="nav-logo" />
                                  </div>
                                  <div class="kc-mainlayout-content-header--left">
                                <div class="kc-back-button @(BackNavigationEna ? "" : "btn-hidden")"
                                                 @onclick="OnBackClick">
                                                @("◀")
                                            </div>
                                            <div class="kc-actual-page-title">
                                                <h2>@_currentTitle</h2>
                                            </div>
                                        </div>
                            </div>
                            <div class="kc-mainlayout-content-header--center">
                                <div class="kc-header-lcd-display">
                                    <LCDDisplay />
                                </div> 
                                <span class="kc-sound-button" @onclick="OnMusicClick">
                                    <img class="kc-sound-picture"
                                         src=@(_isMusicOn ? "images/musicon.webp" : "images/musicoff.webp")
                                         alt="MusicOn" />
                                </span>
                            </div>
                            <div class="kc-mainlayout-content-header--right">
                            <span class="kc-header-greeting">@Greetings</span>
                            </div>           
                        </header>
                    }
                <div class="kc-mainlayout-content-container">
                    
               
               <CascadingValue Value="_appState">
                        @Body
               </CascadingValue>
                </div>
            </section>
        </main>

    </div>

}
