@using KvizCommando.Client.Helpers

@if (_isLoaded)
{
                
            <div class="list-grid">
                <div>
                
                </div>
                <div></div>
                <div class="list-header no-cell">@Lang["question.Table.Header.No"]</div>
                <div class="list-header category-cell">@Lang["question.Table.Header.ShortCat"]</div>
                <div class="list-header value-cell">@Lang["question.Table.Header.Question"]
                  
                  
                </div>
                <div class="list-header ratio-cell">@Lang["question.Table.Header.Ratio"]</div>
                @for (var j = 0; j < ExtInfo.AvailableUserSlot; j++)
                {
                    var rowusr = j;
                    <div></div>
                    @if (Slots[rowusr].Category > 0)
                    {
                        <div>
                            <input type="checkbox" class="custom-radio" name="UsrRow"
                                   value="@(rowusr)" checked="@(SelectedId == rowusr)"
                                   @onchange="() => OnSelect(rowusr)" />
                        </div>
                    }
                    else
                    {
                        <div></div>
                    }
                    var catIndex = Slots[rowusr].Category;
                    var catName = CategoryNameLocalizer.GetCatShort(catIndex, Culture);
                    <div class="no-cell">@((rowusr + 1).ToString())</div>
                    <div class="category-cell category-cellext ">@catName</div>
                    <div class="value-cell value-cellext">@Slots[rowusr].Question</div>
                    <div class="ratio-cell ratio-cellext">@Slots[rowusr].Ratio</div>
                }
            </div>
    <div class="component-button-row">
        <div class="component-button-group right">
            <button class="button-on-lcd" @onclick="OnWatchButtonAsync" disabled="@(SelectedId == 100)">
                <i class="bi bi-binoculars-fill"></i>
            </button>

            <button class="button-on-lcd" @onclick="OnHandleButtonAsync" disabled="@(SelectedId == 100)">
                <i class="@(!NotShowStat ? "bi bi-tools" : "bi bi-trash3-fill")"></i>
            </button>
        </div>
    </div>
}