@using KvizCommando.Shared.Contracts.Question
@using KvizCommando.Client.Helpers
@inherits Utilities.KcComponentBase


        <div class="list-grid">
            <div></div>
            <div class="list-header no-cell">@Ui.Lang["question.Table.Header.No"]</div>
            <div class="list-header category-cell">@Ui.Lang["question.Table.Header.Category"]</div>

            @for (var i = 0; i < ROW_COUNT; i++)
            {
                var row = i;
                var ownLimit = Math.Min(
                    ExtInfo.AvailablePendingSlot,
                    ExtInfo.AvailableUserSlot - ExtInfo.FreeUserSlot
                );

                if (row < ownLimit)
                {
                        _options = CatHelper.OptionsUpdate(CategoryOptionHelpers.optionType.Own, ExtInfo.CharCatMask);
                    <div>o</div>
                }
                else
                {
                        _options = CatHelper.OptionsUpdate(CategoryOptionHelpers.optionType.Normal, ExtInfo.CharCatMask);
                    <div></div>
                }

                <div class="no-cell">@((row + 1).ToString())</div>

                <div class="value-cell @(_editingRowIndex == row ? "editing" : null)">
                    @if (_editingRowIndex == row)
                    {
                        <select class="inline-editor"
                                @bind="_workingCodes[row]"
                                @bind:event="onchange"
                                @onclick:stopPropagation="true"
                                @onkeydown="OnEditorKeyDown"
                                autofocus>
                            @foreach (var opt in _options)
                            {
                                <option value="@opt.Code">@QuestionHelper.GetLabel(opt, Culture)</option>
                            }
                        </select>
                    }
                    else
                    {
                        <button type="button"
                                class="value-button"
                                @onclick="() => StartEdit(row)"
                                @onclick:stopPropagation="true">
                                @CatHelper.ResolveLabel(_workingCodes[row], Culture)
                        </button>
                    }
                </div>
            }
        </div>
        <br>
        <div class="component-button-row">
            <div class="component-button-group right">
            <button class="button-on-lcd" @onclick="OnSaveSlotsAsync" disabled="@(!IsDirty)">
                        <i class="bi bi-floppy"></i>
                    </button>
            </div>
        </div>




