@using KvizCommando.Client.Helpers
@inherits Utilities.KcComponentBase

@if (_isLoaded)
{
            <div class="list-grid" >
                <div></div>
                <div></div>
                <div class="list-header no-cell">@Ui.Lang["question.Table.Header.No"]</div>
                <div class="list-header category-cell">@Ui.Lang["question.Table.Header.ShortCat"]</div>
                <div class="list-header value-cell">@Ui.Lang["question.Table.Header.Question"]</div>
                <div class="list-header ratio-cell">@Ui.Lang["question.Table.Header.Status"]</div>

                @for (var j = 0; j < ExtInfo.AvailablePendingSlot; j++)
                {
                    var rowusr = j;
                    var mark = Slots[rowusr].Status != "Pending" && Slots[rowusr].Category != 0;
                    @if (mark)
                    {
                        <div>
                            <label class="row-marker">!</label>
                        </div>
                    }
                    else
                    {
                        <div></div>
                    }
                    @if (Slots[rowusr].Status != "Pending" && Slots[rowusr].Status != "None")
                    {
                        <div>
                            <input type="checkbox" class="custom-radio" name="UsrRow"
                                   value="@(rowusr)" checked="@(SelectedId == rowusr)"
                                   @onchange="() => OnSelect(rowusr)" />
                        </div>
                    }
                    else
                    {
                        <div></div>
                    }
                    var catIndex = Slots[rowusr].Category;
                    var catName = CategoryNameLocalizer.GetCatShort(catIndex, Culture);
                    var rowStat = Slots[rowusr].Status == "" ? "None" : Slots[rowusr].Status;
                    <div class="no-cell">@((rowusr + 1).ToString())</div>
                    <div class="category-cell category-cellext">@catName</div>
                    <div class="value-cell value-cellext" >@Slots[rowusr].Question</div>
                    <div class="ratio-cell ratio-cellext" >@Ui.Lang[$"question.Table.Status.{rowStat}"]</div>
                }
            </div>
    <div class="component-button-row">
        <div class="component-button-group right">
            <button class="button-on-lcd" @onclick="OnHandleButtonAsync" disabled="@(SelectedId == 100)">
                <i class="bi bi-tools"></i>
            </button>
        </div>
    </div>
}