@using KvizCommando.Client.Features.Modal;
@inherits Utilities.KcComponentBase
@if (isLoaded)
{
    <div class="modal-display">
        @switch (Mode)
        {
            case 101:  /// user slot törlése
                <br>
                @Ui.Lang["question.Modal.Text.Confirm"]
                <br>
                <br>
                break;
            case 102: /// pending slot törlése vagy ha approved akkor átmozgatása
                <div>
                    <label class="category-label">@Ui.Lang["question.Table.Header.Category"]:</label>
                    <span> @catName</span>
                </div>
                    <br>
                    <p class="question-label">@Slot.Question</p>
                    <br>
                <br>
                <div class="divider">
                    <span style=@colorStyle>@Ui.Lang[$"question.Table.Status.{Slot.Status}"]</span>
                </div>
                <div class="remark-label">
                    <fn>@Ui.Lang["question.Table.Header.Remark"]</fn>
                    <p>@Slot.Remark</p>
                </div>
                break;
            case 103: /// új kérdés felvétele
                @renderHTML
                break;
            default:
                <p></p>
                break; 
         }
    </div>
}