@using KvizCommando.Client.Features.Modal;


@if (_isLoaded && (int)Mode > 200 && (int)Mode < 205)
{
    <div class="modal-display">
        <div class="info-block">
            <div>@Info.Name</div>
            <div class="modal-value" style="color: @(Info.Color)">@Info.NameValue</div>
            <div>@Info.Level</div>
            <div class="modal-value right">@Info.LevelValue</div>
            <div>@Info.Rank</div>
            <div class="modal-value">@Info.RankValue</div>
            <div>@Info.Devpoints</div>
            <div class="modal-value right">@Info.DevPointsValue</div>
            <div>@Info.Orient1</div>
            <div class="modal-value">@Info.Orient1Value</div>
            <div></div>
            <div class="modal-value right" style="color:green">@Info.AddedDevPoints</div>
            <div>@Info.Orient2</div>
            <div class="modal-value">@Info.Orient2Value</div>
           
        </div>
        @if (Mode == ModalTypes.TPromote || Mode == ModalTypes.TRetire)
        {
            <div class="divider">
                <span class="modal-@(rh.NewClass ? "promrank" : "promlevel")">@rh.RankClass</span>
            </div>
            <div class="divider">
                <span class="modal-promlevel">@rh.Level</span>
                <span class="modal-promrank">@rh.Rank</span>
            </div>
        
        }
        
        @switch (Mode)
        {
            case ModalTypes.THire:
            <div class="hire-skillblock">
            <div class="modal-subtitle">@_vmHir.Labelpros</div>
            <div></div>
                @for (int i = 0; i < _vmHir.Rows.Count; i++)
                {
                    @if (i == 3)
                    {
                        <div class="modal-subtitle">@_vmHir.Labelcons</div>
                        <div></div>
                    }
                    <div>@_vmHir.Rows[i].CategoryName</div>
                    <div class="modal-value times" style="color: @(_vmHir.Rows[i].color)">@_vmHir.Rows[i].ValueDisplay</div>
                }
                </div>
                break;
            case ModalTypes.TPromote:
                var label =string.Empty;
                var color = "color: ";
                <div class="promote-block">
                    @for (int i = 0; i < _vmPro.Rows.Count; i++)
                    {
                        @if (i == 2 || i == 6 || i == 10)
                        {
                            if (i == 2)
                                label = _vmPro.Unlocks;
                            else if (i == 6)
                                label = _vmPro.UnlockMaxLevels1;
                            else
                                label = _vmPro.UnlockMaxLevels2;
                            <div class="modal-subtitle"> @label </div>
                            <div></div>
                            <div></div>
                            <div></div>
                        }
                        color = $"color: {_vmPro.Rows[i].color};";
                        <div >@_vmPro.Rows[i].CategoryName</div>
                        <div class="modal-value right" style="@color">@_vmPro.Rows[i].ValueDisplay</div>
                        <div class="modal-separator">@_vmPro.Rows[i].separator</div>
                        <div class="modal-value right" style="@color">@_vmPro.Rows[i].ValueChangeDisplay</div>
                    }
            </div>
                <div class="info-row4">(@_vmPro.Infotext1)</div>
                break;
            case ModalTypes.TRetire:
                <div class="promote-block">
                    <div class="modal-subtitle"> @_vmRet.Unlocks </div>
                    <div></div>
                    <div></div>
                    <div></div>
                    @for (int i = 0; i < _vmRet.Rows.Count; i++)
                    {
                        <div>@_vmRet.Rows[i].CategoryName</div>
                        <div class="modal-value right">@_vmRet.Rows[i].ValueDisplay</div>
                        <div class="modal-separator">@_vmRet.Rows[i].separator</div>
                        <div class="modal-value right" style="@(_vmRet.Rows[i].color)">@_vmRet.Rows[i].ValueChangeDisplay</div>
                    }
                </div>
                <div class="info-row4">@_vmRet.Infotext1</div>
                break;
            case ModalTypes.THandle:
            <div class="handle-block">
                <div class="info-row1">@_vmHan.Infotext1</div>
                <div class="info-row2">@_vmHan.Infotext2</div>
                <div class="info-row3">@_vmHan.Infotext3</div>
                <div class="info-row4">@_vmHan.Infotext4</div>
            </div>
                break;

    }
    </div>
}
