@page "/solo-game"
@using KvizCommando.Client.Pages.Solo.Components
@using KvizCommando.Client.Components.CharacterComponent;
@inherits Utilities.KcComponentBase

<LangGuard Culture=@Culture Module="solo" OnReady="BuildBoxes">

   <PageContainer>
        @if (_isReady == true)
        {
      
                @foreach (string bx in _boxOrder)
                {
                    var box = Box(bx);

                    <ContentBox Vm="@box"
                                OnClick="OnBoxClick">
                        <ContentBody>

                            <SoloPlayView PlayerName="Karl Brimfield"
                                          RankName="Közlegény"
                                          Level="12"
                                          OrientationName="Játékos"
                                          PlayerImageSrc="/images/characters/example.png"
                                          Points="1240"
                                          CategoryName="Történelem"
                                          CurrentQuestion="4"
                                          TotalQuestions="13"
                                          TotalSeconds="20"
                                          RemainingSeconds="17"
                                          Question="Melyik évben alapították Budapestet?"
                                          Answers="@_previewAnswers"
                                          AnswerEnabled="true"
                                          OnAnswerSelected="SelectAnswerAsync">
                                <PlayerImage>

                                    <CharacterView PicCode="@("M7270BG")" />

                                </PlayerImage>
                            </SoloPlayView>

                        </ContentBody>
                    </ContentBox>
                }
           
          
        }
   </PageContainer>
</LangGuard>



<!-- 
          <div class="@(SelectorCSS)">
            </div>


  <div class="@(SelectorCSS)">
                @foreach (string bx in _boxOrder)
                {
                    var box = Box(bx);

                    <ContentBox Vm="@box"
                                OnClick="OnBoxClick">
                        <ContentBody>

</ContentBody>
                    </ContentBox>
                }
           </div>


-->