@page "/auth/reset-password"
@inherits Utilities.KcComponentBase
@layout LoginLayout

<LangGuard Culture=@_culture Module="auth">
    <div class="pswreset-panel">
        <div class="emailconfirm-head">
            <label class="label-title">@Ui.Lang["auth.psw.Title"]</label>
             </div>
        @if (FormData.resetCode!=null && success != true)
         {                 
                                <div class="pswreset-body">
                <label class="label-text">@Ui.Lang["auth.psw.NewPassword"]</label>
                                    <input class="lcd-input" type="password" @bind-value="FormData.newPassword"
                                           @bind-value:event="oninput"
                                           style="@((PasswordFiledSW ? "border: 1px solid red;" : null))" />

                <label class="label-text">@Ui.Lang["auth.psw.NewPasswordConfirm"]</label>
                                    <input class="lcd-input" type="password" @bind-value="FormData.confirmedNewPsw"
                                           @bind-value:event="oninput"
                                           style="@((PasswordFiledSW ? "border: 1px solid red;" : null))" />
                                </div>
                                <div class="pswresetbutton-row">
                                    <button class="military-button" disabled="@(!CanRecover)" type="button" @onclick="HandleValidSubmit">
                                        @Ui.Lang["auth.buttton.RecoverPsw"]
                                    </button>
                                    <button class="military-button--secondary" @onclick="NavigateHome">
                                        @Ui.Lang["auth.button.RedirectToLogin"]
                                    </button>
                                </div>
            <br>
            <p style="color:red">@ResultMessage</p>                 
        }
        else
        {
            @if (success == true)
            {
                <br>
                <label style="color:limegreen; font-size: 24px;" class=" label-text">✅ @Ui.Lang["auth.psw.Success"]</label>
                <br><br>
            }
            else
            {
                <br>
                <label style="color: red; font-size: 24px;" class=" label-text">❌ @Ui.Lang["auth.psw.Fail"]</label>
                <br><br>
            }
            <div class="pswreset-footer">
                <button class="military-button--secondary" @onclick="NavigateHome">
                    @Ui.Lang["auth.button.RedirectToLogin"]
                 </button>
             </div>
        }

    </div>
</LangGuard>







