<div class="title">@vm.HeaderText</div>
<div class="list-grid extend">
    @for (int i = 0; i < vm.Rows.Count; i++)
    {
        var row = i+1;
        <div></div>
        <div class="datacol-1" style="@(vm.Rows[i].HasChanged ? "color:blue;" : "")">@vm.Rows[i].CategoryName</div>
        <div class="datacol-2" style="@(vm.Rows[i].HasChanged ? "color:blue; font-weight:bold;" : "")">@vm.Rows[i].LevelDisplay</div>
        <div class="datacol-3" style="@(i == 0 || i == 2 ? "color: green;" : "color:red;")">@vm.Rows[i].ValueDisplay</div>
        <div class="button-section">
            @if (@vm.Rows[i].StatusText == "")
            {
                <button class="modifier-button"
                        @onclick="@(() => OnDecButtonPushed(row))"
                        disabled="@(vm.Rows[i].HasChanged == false)">-</button>
                <button class="modifier-button"
                        @onclick="@(() => OnIncButtonPushed(row))"
                        disabled="@(vm.Rows[i].CanDevelop == false)">+</button>
            }
            else
            {
                <div class="datacol-4">@vm.Rows[i].StatusText</div>
            }
        </div>   
    }
    <div></div><div></div><div></div><div></div>
    <div class="button-section">
       
    </div>
</div>
<!--
     <button class="military-button" disabled="@(usedPoints.Sum() == 0)" @onclick="OnSaveButtonPushed">@vm.SaveButtonText</button>


-->