@inherits Utilities.KcComponentBase

<div class="recruit-tab">
    @if (_couldBeHire)
    {
        @for (int i = 0; i < vm.Cards.Count; i++)
        {

            @if (vm.Cards[i].Show)
            {
                <RecruitCard CardNo="@(vm.Cards[i].ClickId)"
                             CardName="@(vm.Cards[i].Name)"
                             CardInfo1="@(vm.Cards[i].MainCat)"
                             CardInfo2="@(vm.Cards[i].SubCat)"
                             CardInfo3="@(vm.Cards[i].ExtCat)"
                             SecOrient="@(vm.Cards[i].SubOrientSh)"
                             Sex="@(vm.Cards[i].Sex)"
                             SelectedCardNo="SelectedId"
                             Selected="OnCandidateSelect" />
            }
            else
            {
                <div></div>
            }
        }

    }
    else
    {
        <div class="hire-info">

        </div>    
    }
</div>
