<div class="recruit-block @(_isSelected ? "selected-block" : "")"
     @onclick="OnCardSelected">

    <div class="block-info label-text">
        <div class="name-row">
            <div class="name-line" style="@(Vm.Sex ? "color: lightblue;" : "color: pink;")">@Vm.Name</div>
            <div class="ori-short">@Vm.SecOrient</div>
        </div>
        
        <div class="block-status">
            <div>@Vm.MainCat</div>
            <div>@Vm.SubCat</div>
            <div>@Vm.ExtCat</div>
        </div>
    </div>
</div>