@if (_isActive)
{
    <div class="htp-tabbar">
        
        @foreach (var tb in Tabs)
        {
            @if (tb.Visible)
            {
                <div class="htp-tab @(_activeIndex == tb.ClickId ? "active" : "") @(tb.Enable ? "" : "disabled")"
                     disabled="@(!tb.Enable)"
                     @onclick="() => SetTab(tb.ClickId)">
                    <span>@tb.Text</span>
                    <!-- <span class="tooltip-box">@tb.ToolTip</span>   -->
                </div>
            }           
        }
    </div>
}
<!--

    disabled="@(!Params.TabEnable[index])"
    @(Params.TabEnable[index] ? "" : "disabled")
-->