@if (_isActive && Params.EnabledTabs.Length > 0)
{
    <div class="htp-tabbar">
        @foreach (int et in Params.EnabledTabs)
        {
            var index = et;
            <div class="htp-tab @(Params.ActiveIndex == index ? "active" : "") @(Params.TabEnable[index] ? "" : "disabled")" @onclick="() => SetTab(index)" disabled="@(!Params.TabEnable[index])">
                <span>@Params.HTabs[et]</span>
                <!-- <span class="tooltip-box">@Params.TabDisableText[et]</span>   -->
            </div>

        }
    </div>
}
