@page "/checkin"
@layout EmptyLayout
@using KvizCommando.Client.Components

@if (isLoaded==true)
{
    <LangGuard Culture=@culture Module="checkin" OnReady="BuildDynamicText">
         <KcModal @ref="TermsModal"
         Id="termsModal"
         Title="@ModalTitle"
         SizeClass= "modal-lg"
         ActionText1="@Lang["checkin.modal.Button.Action"]"
         CloseText=""
         OnAction1="AcceptTerms"
         CheckBottom = "true">
         @if (!string.IsNullOrWhiteSpace(cacheData.url))
             {
                  @renderHTML
             }
        </KcModal>
        
        
        
        
        
        <div class="checkin-panel">
            <div class="checkin-head">
                  <label class="label-title">@DynamicTitle</label>
                 
              
            </div>
                 <div class="checkin-body"> 
                    
                        <label class="label-text">@Message</label>
                     <br>
                @if (cacheData.needsName == true)
                {
                    <label class="label-text">@Lang["checkin.Label.DisplayName"]</label>
                     <input class="lcd-input"   @bind-value="FormData.DisplayName"
                                    @bind-value:event="oninput"
                    style="@((DisplayNameField ? "border: 1px solid red;" : null))" />
            
                }
                @if (cacheData.needsTerms == true)
                {
                    <div class="checkin-action">
                                <div class="checkin-checkbox">                            
                                    <input class="form-check-input AcceptTerms-checkbox" type="checkbox" id="AcceptTerms" 
                                        @bind="IsAccepted" 
                                            />
                                </div>
                         <div class="checkin-AcceptText">                             <span class="label-text" style="font-size: 10px" for="AcceptTerms">
                                @Lang["checkin.Label.AcceptTerms"]</span>
                              <a class="AcceptTerms-link" @onclick="OpenTerms">@Lang["checkin.ButtonLink.Terms"]</a>
                              <span class="label-text" style="font-size: 10px" for="AcceptTerms">
                                @Lang["checkin.Label.AcceptTerms1"]</span>
                              <a class="AcceptTerms-link"  @onclick="OpenPrivacy">@Lang["checkin.ButtonLink.Privacy"]</a>
                              <span class="label-text" style="font-size: 10px"  for="AcceptTerms">
                                @Lang["checkin.Label.AcceptTerms2"]</span>
                        </div>

                     
                     </div>
                    <div class="checkin-row">
                          <button class="military-button" disabled="@(!CanCheckIn)" type="button" @onclick="HandleValidSubmit">
                             @Lang["checkin.button.CheckIn"]
                          </button>
                          <button class="military-button--secondary" @onclick="NavigateHome">
                              @Lang["checkin.button.RedirectToLogin"]
                          </button>
                     </div>

                }
                else
                {
                     <div class="checkin-footer">
                        
                    <button class="military-button--secondary" @onclick="NavigateHome">
                     @Lang["checkin.button.RedirectToLogin"]
                     </button>
                 </div>
                }
                   <br>
                    <p style="color:red">@ResultMessage</p> 
                 </div>
        </div>
    </LangGuard>
}



