@page "/login"
@layout KvizCommando.Client.Layout.EmptyLayout



<LangGuard Culture=@culture Module="login">
<div class="login-panel">
    <div class="back-button-row @(EnterPassPage ? "" : "hide")">
            <button class="military-button back-version" disabled="@(!EnterPassPage)" @onclick="OnSwitchPass">@(" << ")</button>
    </div>
    <div class="login-head">
            <label class="label-title">@(EnterPassPage? Lang["login.Title2"] : Lang["login.Title"])</label>
    </div>

    <div class="login-body">
        @if (!EnterPassPage)
            {
                <label class="label-text">@Lang["common.Email"] </label>
                <input class="lcd-input"
                       style="width:stretch;"
                       type="text"
                       @bind-value="LoginForm.Email"
                       @bind-value:event="oninput" />

                <div class="form-check">
                    <input class="form-check-input custom-checkbox" type="checkbox" id="rememberMe" @bind="LoginForm.rememberMe" />
                    <label class="form-check-label remember-me-label" for="rememberMe">
                        @Lang["login.CheckBox.RememberMe"]
                    </label>
                </div>     
            }
            else
            {

                <label class="label-text">@Lang["login.Enter.Password"]</label>
                <label class="label-text">@LoginForm.Email</label>
                <br>
                <label class="label-text">@Lang["common.Password"]</label>
                <input class="lcd-input"
                       style="width:stretch;"
                       type="password"
                       @bind-value="LoginForm.Password"
                       @bind-value:event="oninput" />
            }

       

            
            <div class="login-actions">
                @if (EnterPassPage)
                {
                    <button class="military-button" disabled="@(!CanLogin)" @onclick="LoginUser">@Lang["login.Button"]</button>
                }
                else
                { 
                    <button class="military-button" disabled="@(!CanNext)" @onclick="OnSwitchPass">@Lang["login.Button.Next"]</button> 
                }
            </div>
    </div>

        <hr />
        <div class="login-footer-links">
                <a href="/ForgotPsw" class="login-link">@Lang["login.ForgotPassword"]</a>
            <span class="divider">/</span>
                <a href="/register" class="login-link">@Lang["login.ButtonLink"]</a>
        </div>
         
</div>


@if (!string.IsNullOrEmpty(ErrorMessage))
{
   
    <p style="color:red">@ErrorMessage</p>
}
    <div class="other-providers @(EnterPassPage ? "hide" : "")">
                 <label class="label-text">@Lang["login.Label.Providers"]</label>
                    <a class="btn btn-provider" href="/login/facebook">
                     <img src="https://www.facebook.com/images/fb_icon_325x325.png" 
                          alt="Facebook logo" style="width:25px;height:25px;margin-right:8px;">
                    </a> 
                    <a class="btn btn-provider"  @onclick="BypassLogin">
                     <img src="icon-192.png" 
                          alt="Facebook logo" style="width:30px;height:30px;margin-right:8px;">
                    </a> 



                
                </div>


</LangGuard>

