@page "/register"
@inherits Utilities.KcComponentBase
@layout LoginLayout

<LangGuard Culture=@_culture Module="register">
    <div class="kc-back-button-row">
        <button class="military-button back-version" @onclick="NavigateHome">@(" << ")</button>
    </div>
<div class="kc-regist-panel">
    <div class="kc-regist-head">
            <label class="label-title">@Ui.Lang["register.Title"]</label>
    </div>
    <div class="kc-regist-body">
            @if (!_registSucces)
            {
                <div class="kc-regist-body--divider">
                    <label class="label-text">@Ui.Lang["register.Email"]</label>
                    <input class="lcd-input"
                           @bind-value="_formData.Email"
                           @bind-value:event="oninput"
                           style="width:stretch; @((_emailFiledSW ? "border: 1px solid red;" : null))" />
                </div>
                <div class="kc-regist-body--divider">
                    <label class="label-text">@Ui.Lang["common.Password"]</label>
                    <div class="password-box">
                        <input class="lcd-input" 
                               type="@PasswordType1"
                               @bind-value="_formData.Password"
                               @bind-value:event="oninput"
                               style="width:stretch; @((_passwordFiledSW ? "boder: 1px solid red;" : null))" />
                                <i class="@EyeIcon1" @onclick="() => TogglePassword(0)"></i>
                    </div>
                </div>
               




                <div class="kc-regist-body--divider">

                    <label class="label-text">@Ui.Lang["common.Password.Confirm"]</label>
                    <div class="password-box">
                        <input class="lcd-input"
                               type="@PasswordType2"
                               @bind-value="_formData.ConfirmPassword"
                               @bind-value:event="oninput"
                               style="width:stretch; @((_passwordFiledSW ? "border: 1px solid red;" : null))" />
                        <i class="@EyeIcon2" @onclick="() => TogglePassword(1)"></i>
                        </div>
                </div>
                <div class="kc-regist-body--button-row">
                    <button class="military-button" disabled="@(!CanRegister)" type="button" @onclick="HandleValidSubmit">
                        @Ui.Lang["register.Button"]
                    </button>
                </div>
            }
            else
            {
                <div class="kc-regist-body--success">
                    <label style="color:limegreen; font-size: 24px;" class=" label-text">@Ui.Lang["register.ResultMsg01"]</label>
                    <br>
                    <label class="label-text">@Ui.Lang["register.ResultMsg02"]</label>
                </div>

            }

        </div>
    <div class="kc-regist-footer">
            <div class="kc-regist-error-row">
                @if (!string.IsNullOrEmpty(_resultMessage))
                {
                    <p style="color:red">@_resultMessage</p>
                }
            </div>  
           
    </div>
       
</div>
</LangGuard>
